@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
  font-size: 12px;
  font-style: normal;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 460px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
    padding: 0 10px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1080px;
    padding: 0 15px;
  }
}

.subtitle {
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.13;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .subtitle {
    font-size: 30px;
  }
}

.title {
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 58px;
  }
}

.section--color-2bg {
  background-color: #fff5f6;
}

.container__advantages {
  padding-bottom: 97px;
}

@media screen and (min-width: 768px) {
  .container__advantages {
    padding-top: 152px;
    padding-left: 36px;
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1280px) {
  .container__advantages {
    padding: 64px 115px 139px 115px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item:not(:last-child) {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__item:nth-child(1)::before,
.advantages__item:nth-child(2)::before,
.advantages__item:nth-child(3)::before {
  content: '';
  background-size: cover;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages__item:nth-child(1)::before,
  .advantages__item:nth-child(2)::before,
  .advantages__item:nth-child(3)::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item:nth-child(1)::before,
  .advantages__item:nth-child(2)::before,
  .advantages__item:nth-child(3)::before {
    margin-bottom: 40px;
  }
}

.advantages__item:nth-child(1)::before {
  width: 33px;
  height: 50px;
  background-image: url("/images/advantages/advantages1.png");
  background-size: 33px 50px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(1)::before {
    background-image: url("/images/advantages/advantages1-@2x.png");
  }
}

.advantages__item:nth-child(2)::before {
  width: 50px;
  height: 50px;
  background-image: url("/images/advantages/advantages2.png");
  background-size: 50px 50px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(2)::before {
    background-image: url("/images/advantages/advantages2-@2x.png");
  }
}

.advantages__item:nth-child(3)::before {
  width: 44px;
  height: 50px;
  background-image: url("/images/advantages/advantages3.png");
  background-size: 44px 50px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .advantages__item:nth-child(3)::before {
    background-image: url("/images/advantages/advantages3-@2x.png");
  }
}

.advantages__count {
  font-family: "Titan One", cursive;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages__count {
    width: 98px;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .advantages__count {
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__count {
    font-size: 58px;
    line-height: 1.13;
    text-align: right;
  }
}

.advantages__text {
  width: 230px;
  margin-bottom: 38px;
  font-weight: 700;
  line-height: 1.7;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    width: 180px;
    line-height: 1.74;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__text {
    width: 330px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}

.advantages__text:last-child {
  margin-bottom: 0px;
}

.gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(39%, #fff5f6), color-stop(41%, var(--menu-text-color)), color-stop(60%, var(--menu-text-color)));
  background-image: linear-gradient(to bottom, #fff5f6 39%, var(--menu-text-color) 41%, var(--menu-text-color) 60%);
}

.gallery_img {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1 px;
  height: 1 px;
  margin: -1 px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: scale(1) translateY(-50%);
          transform: scale(1) translateY(-50%);
  padding: 40px 20px;
  min-width: 320px;
  width: 100%;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 450px) {
  .modal {
    left: 50%;
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@media screen and (max-height: 568px) {
  .modal {
    top: 0;
    left: 0;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
  }
}

@media screen and (min-width: 480px) {
  .modal {
    padding: 40px;
    width: 450px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.8) translate(-50%, -50%);
          transform: scale(0.8) translate(-50%, -50%);
}

.modal__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__close-icon, .modal__close-btn:focus .modal__close-icon {
  fill: #d41443;
}

.modal__close-btn:hover, .modal__close-btn:focus {
  border: 2px solid #ffa5ba;
}

.modal__close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.site-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 44px;
  border-radius: 22px;
  border: 0px;
  text-align: center;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  background-color: #ffffff;
}

.site-button:hover, .site-button:focus {
  background-color: #ecebeb;
}

.site-button--inverse {
  background-color: #d41443;
  color: #ffffff;
}

.site-button--inverse:hover, .site-button--inverse:focus {
  background-color: #c7133e;
}
/*# sourceMappingURL=main.css.map */