<section class="section section-about" id="about">
    <div class="container">
        <p class="title__second">tradition and love</p>
        <h2 class="title__main">how it’s made?</h2>
        <div class="about-position">
            <div class="content">
                <picture class="content__img">
                    <source srcset="
              ./images/desktop/about/home-pic4-1.webp    1x,
              ./images/desktop/about/home-pic4-1@2x.webp 2x
            " media="(min-width: 1280px)" type="image/webp" />
                    <source srcset="
              ./images/desktop/about/home-pic4-1.png    1x,
              ./images/desktop/about/home-pic4-1@2x.png 2x
            " media="(min-width: 1280px)" />
                    <source srcset="
              ./images/tablet/about/home-pic4-1.webp    1x,
              ./images/tablet/about/home-pic4-1@2x.webp 2x
            " media="(min-width: 768px)" type="image/webp" />
                    <source srcset="
              ./images/tablet/about/home-pic4-1.png    1x,
              ./images/tablet/about/home-pic4-1@2x.png 2x
            " media="(min-width: 768px)" />
                    <source srcset="
              ./images/mobile/about/home-pic4-1.webp    1x,
              ./images/mobile/about/home-pic4-1@2x.webp 2x
            " media="(min-width: 320px)" type="image/webp" />
                    <source srcset="
              ./images/mobile/about/home-pic4-1.png    1x,
              ./images/mobile/about/home-pic4-1@2x.png 2x
            " media="(min-width: 320px)" />
                    <img src="#" alt="About" />
                </picture>
            </div>
            <div class="content__text--wrap">
                <p class="content__main">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="content__second">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="content__btn" about-modal-open>
          Read more
          <svg class="content__btn--icon">
            <use href="./images/svg/sprite.svg#icon-Vector-1-1"></use>
          </svg>
        </button>
            </div>
        </div>
    </div>
</section>
<div class="about__backdrop is-hidden" about-modal>
    <div class="about-modal">
        <button type="button" class="modal__btn--close" about-modal-close>
      <svg class="modal__icon--close" width="18" height="18">
        <use href="./images/svg/sprite.svg#close"></use>
      </svg>
    </button>
        <div class="about__modal-container">
            <h4 class="about__label-modal">Only hand made</h4>
            <p class="about__text-modal">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorem minima consequuntur iusto commodi minus nesciunt odit, autem qui inventore omnis vel quis placeat, explicabo ab. Doloremque aperiam atque sapiente.
            </p>
            <p class="about__text-modal">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor non magnam sunt eligendi quidem ipsam excepturi consequuntur expedita ex quae numquam consequatur, eveniet nisi. Quo, modi vero, ex est itaque praesentium recusandae fuga, illo quos nemo incidunt
                corporis optio magnam?
            </p>
            <p class="about__text-modal">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor non magnam sunt eligendi quidem ipsam excepturi consequuntur expedita ex quae numquam consequatur, eveniet nisi. Quo, modi vero, ex est itaque praesentium recusandae fuga, illo quos nemo incidunt
                corporis optio magnam?
            </p>
            <p class="about__text-modal">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor non magnam sunt eligendi quidem ipsam excepturi consequuntur expedita ex quae numquam consequatur, eveniet nisi. Quo, modi vero, ex est itaque praesentium recusandae fuga, illo quos nemo incidunt
                corporis optio magnam?
            </p>
        </div>
    </div>
</div>