<section class="about">
  <div class="container">
    <div class="section-about">
      <p class="title__second">tradition and love</p>
      <h2 class="title__main">how it’s made?</h2>
      <ul class="content">
        <img src="/images/mobile/about/home-pic4-1.png" alt="" class="content__img" />
        <!-- <picture>
          <source
            media="(min-width:320px)"
            srcset="
              /images/mobile/about/home-pic4-1.png     1x,
              ./images/mobile/about/home-pic4-1@2x.png 2x
            "
          />
        </picture> -->
        <div class="content__text--wrap">
          <li class="content__main">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </li>
          <div class="content__second--wrap">
            <li class="content__second">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
              orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
              feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean
              accumsan.
            </li>
          </div>
          <button type="button" class="content__btn">
            Read more
            <svg class="content__btn--icon">
              <use href="./images/svg/sprite.svg#icon-pink-arrow"></use>
            </svg>
          </button>
        </div>
      </ul>
    </div>
  </div>
</section>
