<section class="section section-advantages" id="advantages">
  <div class="container">
    <h2 class="title visually-hidden">Advantages</h2>
    <ul class="advantages">
      <li class="advantages__item">
        <span class="advantages__count advantages__count--img1">721</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <span class="advantages__count advantages__count--img2">16kg</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <span class="advantages__count advantages__count--img3">84</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
