<section class="section section--color-2bg">
    <div class="container container__advantages">
        <h2 class="title visually-hidden">Advantages</h2>
        <ul class="advantages">
            <li class="advantages__item">
                <span class="advantages__count">721</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__count">16кг</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__count">84</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>