<div class="container">
    <ul class="contacts">
        <h2 class="contacts visibility-hidden">Contacts</h2>
        <div class="contacts__thumb">
            <li class="contacts__item">
                <span class="contacts__descr">CAFE</span> <br>
                <span class="contacts__name">Chicago</span>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="contacts__work-time">
                    <li class="contacts__work-time__item">
                        <p class="contacts__work-time__day">
                            Monday - Friday
                        </p>
                        <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__work-time__item">
                        <p class="contacts__work-time__day">Saturday - Sunday</p>
                        <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <a href="tel:+610383766284" class="contacts__link contacts__link--tel" target="_blank">+61(0) 383 766
                    284</a>
                <a href="mailto:noreply@envato.com" class="contacts__link contacts__link--mail"
                    target="_blank">noreply@envato.com</a>
            </li>
        </div>
        <div class="contacts__thumb">
            <li class="contacts__item">
                <span class="contacts__descr contacts__descr--food">FOOD TRUCK</span> <br>
                <span class="contacts__name">Los Angeles</span>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="contacts__work-time">
                    <li class="contacts__work-time__item">
                        <p class="contacts__work-time__day">
                            Monday - Friday
                        </p>
                        <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__work-time__item">
                        <p class="contacts__work-time__day">Saturday - Sunday</p>
                        <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

                <a href="tel:+610383766284" class="contacts__link contacts__link--tel" target="_blank">+61(0) 383 766
                    284</a>
                <a href="mailto:noreply@envato.com" class="contacts__link contacts__link--mail"
                    target="_blank">noreply@envato.com</a>
            </li>
        </div>
        <div class="contacts__thumb">
            <li class="contacts__item">
                <span class="contacts__descr">CAFE</span> <br>
                <span class="contacts__name">New York</span>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                <ul class="contacts__work-time">
                    <li class="contacts__work-time__item">
                        <p class="contacts__work-time__day">
                            Monday - Friday
                        </p>
                        <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__work-time__item">
                        <p class="contacts__work-time__day">Saturday - Sunday</p>
                        <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a href="tel:+610383766284" class="contacts__link contacts__link--tel" target="_blank">+61(0) 383 766
                    284</a>
                <a href="mailto:noreply@envato.com" class="contacts__link contacts__link--mail"
                    target="_blank">noreply@envato.com</a>
            </li>
        </div>
    </ul>

    <button class="contacts__btn contacts__btn--location" type="button">Our Locations</button>
    <button class="contacts__btn contacts__btn--franchise" type="button">Franchise</button>
</div>