<section class="section contacts-section" id="contacts">
    <div class="container contacts-container">
        <h2 class="contacts-title visually-hidden">Contacts</h2>
        <ul class="contacts">

            <li class="contacts__item">
                <div class="contacts__thumb">
                    <span class="contacts__descr">CAFE</span>
                    <span class="contacts__name">Chicago</span>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts__work-time">
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">
                                Monday - Friday
                            </p>
                            <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">Saturday - Sunday</p>
                            <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                    </ul>



                    <ul class="contacts-list">
                        <li class="contacts__item-link">
                            <a href="tel:+610383766284" class="contacts__link contacts__link--tel"
                                target="_blank">+61(0) 383
                                766
                                284</a>
                        </li>
                        <li class="contacts__item-link"><a href="mailto:noreply@envato.com"
                                class="contacts__link contacts__link--mail" target="_blank">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__thumb">
                    <span class="contacts__descr contacts__descr--food">FOOD TRUCK</span>
                    <span class="contacts__name">Los Angeles</span>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts__work-time">
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">
                                Monday - Friday
                            </p>
                            <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">Saturday - Sunday</p>
                            <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>

                    <ul class="contacts-list">
                        <li class="contacts__item-link">
                            <a href="tel:+610383766284" class="contacts__link contacts__link--tel"
                                target="_blank">+61(0) 383
                                766
                                284</a>
                        </li>
                        <li class="contacts__item-link"><a href="mailto:noreply@envato.com"
                                class="contacts__link contacts__link--mail" target="_blank">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="contacts__item">
                <div class="contacts__thumb">
                    <span class="contacts__descr">CAFE</span>
                    <span class="contacts__name">New York</span>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts__work-time">
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">
                                Monday - Friday
                            </p>
                            <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">Saturday - Sunday</p>
                            <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>

                    <ul class="contacts-list">
                        <li class="contacts__item-link">
                            <a href="tel:+610383766284" class="contacts__link contacts__link--tel"
                                target="_blank">+61(0) 383
                                766
                                284</a>
                        </li>
                        <li class="contacts__item-link"><a href="mailto:noreply@envato.com"
                                class="contacts__link contacts__link--mail" target="_blank">noreply@envato.com</a>
                        </li>
                    </ul>



                </div>
            </li>
        </ul>

        <ul class="contacts__button">
            <button class="contacts__btn contacts__btn--location" type="button" data-modal-location-open>Our Locations
                <svg class="contacts__icon" width="12px" height="12px">
                    <use href="./images/svg/sprite.svg#icon--1-2"></use>
                </svg></button>
            <button class="contacts__btn contacts__btn--franchise" type="button" data-modal-open-franchise>Franchise
                <svg class="contacts__icon contacts__icon--franchise" width="12px" height="12px">
                    <use href="./images/svg/sprite.svg#icon-Vector-1-1"></use>
                </svg></button>
        </ul>
    </div>

    <div class="backdrop is-hidden" data-modal-location>
        <div class="modal modal__location">

            <p class="location__descr">
                CHICAGO
            </p>

            <div class="modal__map--320">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.33858260693!2d-87.87204681033981!3d41.83390366656982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638819742795!5m2!1sru!2sua"
                    width="300" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="modal__map--480">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.33858260693!2d-87.87204681033981!3d41.83390366656982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638819742795!5m2!1sru!2sua"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="modal__map--768">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.33858260693!2d-87.87204681033981!3d41.83390366656982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638819742795!5m2!1sru!2sua"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="modal__map--1280">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190255.33858260693!2d-87.87204681033981!3d41.83390366656982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638819742795!5m2!1sru!2sua"
                    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <p class="location__descr">
                New York
            </p>

            <div class="modal__map--320">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869402!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638824471879!5m2!1sru!2sua"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="modal__map--480">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869402!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638824471879!5m2!1sru!2sua"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="modal__map--768">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869402!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638824471879!5m2!1sru!2sua"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="modal__map--1280">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869402!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638824471879!5m2!1sru!2sua"
                    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <p class="location__descr">
                Los Angeles
            </p>


            <div class="modal__map--320">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.43554989767!2d-118.69191546801642!3d34.02073049790668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638824663447!5m2!1sru!2sua"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="modal__map--480">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.43554989767!2d-118.69191546801642!3d34.02073049790668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638824663447!5m2!1sru!2sua"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="modal__map--768">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.43554989767!2d-118.69191546801642!3d34.02073049790668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638824663447!5m2!1sru!2sua"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="modal__map--1280">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.43554989767!2d-118.69191546801642!3d34.02073049790668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1638824663447!5m2!1sru!2sua"
                    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <button type="button" class="modal__close-btn" data-modal-location-close>
                <svg class="modal__close-icon" width="20px" height="20px">
                    <use href="./images/svg/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </div>
    </div>

    <div class="backdrop is-hidden" data-modal-franchise>
        <div class="modal modal__franchise">

            <h3 class="franchise__title">НОВАЯ ГАСТРОНОМИЧЕСКАЯ КОНЦЕПЦИЯ ЛЕГЕНДАРНОЙ «PIZZA CELENTANO»!</h3>

            <h4 class="franchise__title--two">Формат «Pizza Celentano Ristorante» – пицца и вино!</h4>
            <p class="franchise--text"></p>

            <ul class="franchise">
                <li class="franchise__item">Демократические рестораны с обслуживанием официантами - активной и
                    дружелюбной молодежью, которая
                    гарантирует гостю получения максимального удовольствия.</li>
                <li class="franchise__item">Настоящая итальянская пицца. Приготовленная профессиональными пиццайоло,
                    которые используют
                    исключительно итальянские продукты, рецептуру и фристайл. Приготовление пиццы в наших заведениях –
                    шоу,
                    которое привлекает
                    потребителей.</li>
                <li class="franchise__item">Блюда только из здоровых, полезных, экологически чистых продуктов.</li>
                <li class="franchise__item">Неповторимый интерьер – эклектичное сочетание стилей, море иронии, ярких
                    цветов и эмоций! Каждый
                    ресторан соответствует всем фирменным стандартам, но в то же время отличается индивидуальным
                    образом.</li>
                <li class="franchise__item">Магазин антипасты и вина, современная Bambino room.</li>
            </ul>

            <h4 class="franchise__title--two">МЫ РАЗРУШАЕМ СТЕРЕОТИПЫ!</h4>

            <h5 class="franchise__title--three">Интересные факты за несколько последних лет:</h5>

            <ul class="franchise franchise--facts">
                <li class="franchise--facts_item">основана в 1998 году первая украинская франчайзинговая сеть родом из
                    Львова – нам 19 лет!;</li>
                <li class="franchise--facts_item">
                    крупнейший франчайзер Украины;</li>
                <li class="franchise--facts_item">насчитывает около 150 ресторанов;</li>
                <li class="franchise--facts_item">более 1,7 миллиона зарегистрированных участников программы лояльности
                    EGOисты;
                    больше 5000 работников;</li>
                <li class="franchise--facts_item"> больше 5000 работников;</li>
                <li class="franchise--facts_item">доля рынка «Pizza Celentano» по данным 2014 года составляла 26%, за
                    время существования в сети продано
                    более 100
                    миллионов пицц (!);</li>
                <li class="franchise--facts_item">в 2013 году в центре Львова открыт первый ресторан нового формата
                    "Pizza Celentano Ristorante", где
                    продается 500
                    пицц/день.</li>
            </ul>

            <div class="franchise__contacts">
                Контактные данные: <a href="tel:+610383766284" class="contacts__link contacts__link--tel"
                    target="_blank">+61(0) 383
                    766
                    284</a>
                <a href="mailto:noreply@envato.com" class="contacts__link contacts__link--mail"
                    target="_blank">noreply@envato.com</a>
            </div>
            <button type="button" class="modal__close-btn" data-modal-close-franchise>
                <svg class="modal__close-icon" width="20px" height="20px">
                    <use href="./images/svg/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </div>
    </div>



    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
        integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
        crossorigin="anonymous"></script>

</section>