<section class="section contacts__section" id="Contacts">
    <div class="container contacts-container">
        <h2 class="contacts visually-hidden">Contacts</h2>
        <ul class="contacts">

            <li class="contacts__item">
                <div class="contacts__thumb">
                    <span class="contacts__descr">CAFE</span>
                    <span class="contacts__name">Chicago</span>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts__work-time">
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">
                                Monday - Friday
                            </p>
                            <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">Saturday - Sunday</p>
                            <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                    </ul>



                    <a href="tel:+610383766284" class="contacts__link contacts__link--tel" target="_blank">+61(0) 383
                        766
                        284</a>
                    <a href="mailto:noreply@envato.com" class="contacts__link contacts__link--mail"
                        target="_blank">noreply@envato.com</a>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__thumb">
                    <span class="contacts__descr contacts__descr--food">FOOD TRUCK</span>
                    <span class="contacts__name">Los Angeles</span>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts__work-time">
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">
                                Monday - Friday
                            </p>
                            <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">Saturday - Sunday</p>
                            <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>

                    <a href="tel:+610383766284" class="contacts__link contacts__link--tel" target="_blank">+61(0) 383
                        766
                        284</a>
                    <a href="mailto:noreply@envato.com" class="contacts__link contacts__link--mail"
                        target="_blank">noreply@envato.com</a>
                </div>
            </li>

            <li class="contacts__item">
                <div class="contacts__thumb">
                    <span class="contacts__descr">CAFE</span>
                    <span class="contacts__name">New York</span>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                    <ul class="contacts__work-time">
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">
                                Monday - Friday
                            </p>
                            <p class="contacts__work-time__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts__work-time__item">
                            <p class="contacts__work-time__day">Saturday - Sunday</p>
                            <p class="contacts__work-time__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <a href="tel:+610383766284" class="contacts__link contacts__link--tel" target="_blank">+61(0) 383
                        766
                        284</a>
                    <a href="mailto:noreply@envato.com" class="contacts__link contacts__link--mail"
                        target="_blank">noreply@envato.com</a>
                </div>
            </li>
        </ul>

        <div class="contacts__button-container">
            <button class="contacts__btn contacts__btn--location" type="button" data-modal-open>Our Locations <svg
                    class="contacts__icon" width="12px" height="12px">
                    <use href=""></use>
                </svg></button>
            <button class="contacts__btn contacts__btn--franchise" type="button">Franchise <svg
                    class="contacts__icon contacts__icon--franchise" width="12px" height="12px">
                    <use href=""></use>
                </svg></button>
        </div>
    </div>

    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <!-- <form class="form">
                <span class="form__text">
                    Оставьте свои данные, мы вам перезвоним
                </span>
                <label class="form__label">
                    Имя
                    <span class="form-span">
                        <input class="form__input" type="text" name="user-name">
                        <svg class="form__icon">
                            <use href="./images/svg/icomoon/svg/sprite.svg#person-icon"></use>
                        </svg>
                    </span>
                </label>
                <label class="form__label">
                    Телефон
                    <span class="form-span">
                        <input class="form__input" type="tel" name="user-tel">
                        <svg class="form__icon">
                            <use href="./images/svg/icomoon/svg/sprite.svg#phone-form-icon"></use>
                        </svg>
                    </span>
                </label>
                <label class="form__label">
                    Почта
                    <span class="form-span">
                        <input class="form__input" type="email" name="user-email">
                        <svg class="form__icon">
                            <use href="./images/svg/icomoon/svg/sprite.svg#email-form-icon"></use>
                        </svg>
                    </span>
                </label>
                <label class="form__label">
                    Комментарий
                    <textarea class="form__message" name="message" placeholder="Введите текст"></textarea>
                </label>
                <label class="form__accept-policy">
                    <input type="checkbox" class="form__checkbox visibility-hidden">
                    <span class="form__checkbox-custom"></span>
                    Соглашаюсь с рассылкой и принимаю&nbsp<a href="" class="form__link-accept">Условия
                        договора</a></label>
                <button class="modal__button-submit" type="submit">
                    Отправить
                </button>
                <button type="button" class="modal__button-close" data-modal-close>
                    <svg class="modal__icon-close">
                        <use href="./images/svg/icomoon/svg/sprite.svg##icon-close"></use>
                    </svg>
                </button>
            </form> -->
        </div>
</section>