<footer>
    <section class="footer__section">
        <div class="container  footer-container">
            <div class="footer__thumb">
                <span class="footer__text">homemade ice cream made</span>
                <span class="footer__descr"> with passion</span>
            </div>

            <div class="footer-container__social-link">
                <ul class="footer__social-link">
                    <li class="social-link__item">
                        <a href="https://github.com/" class="social-link__link" target="_blank">
                            <svg class="social-link__icon" width="34px" height="34px">
                                <use href="./images/svg/sprite.svg#github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-link__item">
                        <a href="https://telegram.org/" class="social-link__link" target="_blank">
                            <svg class="social-link__icon" width="34px" height="34px">
                                <use href="./images/svg/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-link__item">
                        <a href="https://www.facebook.com/" class="social-link__link" target="_blank">
                            <svg class="social-link__icon" width="34px" height="34px">
                                <use href="./images/svg/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <span class="footer__contacts">Feel free to contact <a href="tel:+610383766284"
                        class="footer__contacts-link contacts__link--tel" target="_blank">+61(0) 383 766
                        284</a>
                </span>
            </div>
            <!-- <br> -->
        </div>
        <span class="footer__copyright-sign">&#169 2019 - IceCream. All Rights Reserved.</span>
    </section>
</footer>