<section class="section section-gallery">
    <div class="container">
        <h2 class="visually-hidden">Icecream Gallery</h2>
        <ul class="gallery__list">
            <li class="gallery__item wrap1">
                <div class="gallery__box box1">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream1@1x.jpg 1x,
                            ./images/gallery/icecream1@2x.jpg 2x
                            " />
                        <img src="#" alt="icecream" width="137">
                    </picture>

            </li>

            <li class="gallery__item wrap2">
                <div class="gallery__box box2">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream3@1x.jpg 1x,
                            ./images/gallery/icecream3@2x.jpg 2x
                            " />
                        <img src="#" alt="one icecream" width="137">
                </div>
                <div class="gallery__box box3">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream2@1x.jpg 1x,
                            ./images/gallery/icecream2@2x.jpg 2x
                            " />
                        <img src="#" alt="pink icecream" width="137">
                </div>
            </li>

            <li class="gallery__item wrap3">
                <div class="gallery__box box4">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream5@1x.jpg 1x,
                            ./images/gallery/icecream5@2x.jpg 2x
                            " />
                        <img src="#" alt="icecream with blueberry" width="286">
                </div>
                <div class="gallery__box box5">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream4@1x.jpg   1x,
                            ./images/gallery/icecream4@2x.jpg 2x
                            " />
                        <img src="#" alt="Woman with icecream" width="137">
                </div>
            </li>

            <li class="gallery__item wrap4">
                <div class="gallery__box box6">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream6@1x.jpg   1x,
                            ./images/gallery/icecream6@2x.jpg 2x
                            " />
                        <img src="#" alt="blueberry on icecream" width="137">
                </div>
                <div class="gallery__box box7">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream7@1x.jpg   1x,
                            ./images/gallery/icecream7@2x.jpg 2x
                            " />
                        <img src="#" alt="icecream on the street" width="137">
                </div>
            </li>

            <li class="gallery__item wrap5">
                <div class="gallery__box box8">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream8@1x.jpg   1x,
                            ./images/gallery/icecream8@2x.jpg 2x
                            " />
                        <img src="#" alt="dog licking icecream" width="137">
                </div>
                <div class="gallery__box box9">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream9@1x.jpg   1x,
                            ./images/gallery/icecream9@2x.jpg 2x
                            " />
                        <img src="#" alt="chocolate icecream" width="137">
                </div>
            </li>

            <li class="gallery__item wrap6">
                <div class="gallery__box box10">
                    <picture>
                        <source media="(min-width: 320px)" srcset="
                            ./images/gallery/icecream10@1x.jpg   1x,
                            ./images/gallery/icecream10@2x.jpg 2x
                            " />
                        <img src="#" alt="cone with icecream on yellow wall" width="137">
                </div>
            </li>
        </ul>
        </div>
</section>



<!-- <section class="section">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <picture>
            <source   srcset="./images/mobile/gallery/home-pic5-1.webp 1x, ./images/mobile/gallery/home-pic5-1@2x.webp 2x" media="(max-width: 767px)" type="image/webp" />
            <source   srcset="./images/mobile/gallery/home-pic5-1.png 1x, ./images/mobile/gallery/home-pic5-1@2x.png 2x" media="(max-width: 767px)" />
            <source   srcset="./images/tablet/gallery/home-pic5-1.webp 1x, ./images/tablet/gallery/home-pic5-1@2x.webp 2x" media="(min-width: 768px)" type="image/webp" />
            <source   srcset="./images/tablet/gallery/home-pic5-1.jpg 1x, ./images/tablet/gallery/home-pic5-1@2x.png 2x" media="(min-width: 768px)" />
            <source   srcset="./images/desktop/gallery/home-pic5-1.webp 1x, ./images/desktop/gallery/home-pic5-1@2x.webp 2x" media="(min-width: 1280px)" type="image/webp" />
            <source   srcset="./images/desktop/gallery/home-pic5-1.jpg 1x, ./images/desktop/gallery/home-pic5-1@2x.jpg 2x" media="(min-width: 1280px)" />
            <img class="gallery_img" src="./images/mobile/gallery/home-pic5-1@2x.png" alt="Gallery" />
        </picture>
    </div>
</section> -->