<header class="header">
    <nav></nav>
    <section class="hero">
      <div class="container ">
        <div class="hero__thumb">
      <h1 class="hero__title">Ice cream
        made with
        <span class="hero__title-red">passion</span></h1>
        <ul class="hero-list">
        <li class="hero-list__item"><button type="button" class="hero-list__button-red">Products</button></li>
        <li class="hero-list__item"><button type="button" class="hero-list__button-white">How it's made?</button></li>
      </ul>
    </div>
      <div class="hero__container-img">
         <!-- <picture> -->
             <!-- <source srcset="../images/mobile/hero-header/slider-pic7-1.webp" type="image/webp"> -->
        <img alt="ice-cream"
         src="../src/images/mobile/hero-header/slider-pic7-1.png" >
        <!-- </picture>  -->
    </div>
    <div class="elipse"></div>
      <h2 class="hero-card__title">16</h2>
      <p class="hero-card__text">cafes</p>
    <div class="hero-card__elipse"></div>
      <h2 class="hero-card-second__title">23</h2>
      <h2 class="hero-card-second__text">food trucks</h2>
    <div class="hero-card-second__elipse"></div>
    <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
   <img >
    </section>
  </header>