    .about__backdrop {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1000;
        top: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    
    .about-modal {
        position: absolute;
        height: 80%;
        width: calc(100vw - 50px);
        background-color: $hero-header-bg;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        @media screen and (min-width: 480px) {
            width: 450px;
        }
        @media screen and (min-width: 768px) {
            width: 620px;
        }
        @media screen and (min-width: 1280px) {
            width: 720px;
        }
    }
    
    .about__modal-container {
        width: 100%;
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    
    .modal__btn--close {
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $primary-accent-color;
        }
    }
    
    .about__label-modal {
        font-family: Titan One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.17;
        text-align: center;
        text-transform: uppercase;
        color: $secondary-bg-color;
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            font-size: 26px;
            line-height: 1.15;
        }
        @media screen and (min-width: 1280px) {
            font-size: 30px;
            line-height: 1.13;
            letter-spacing: 0.04em;
        }
    }
    
    .about__img-modal {
        margin-left: auto;
        margin-right: auto;
        border-radius: 22px;
        @media screen and (max-width: 768px) {
            max-width: 250px;
        }
        @media screen and (min-width: 768px) {
            max-width: 450px;
        }
        @media screen and (min-width: 1280px) {
            max-width: 500px;
        }
    }
    
    .about__text-modal {
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 8px;
        line-height: 1.62;
        margin-top: 30px;
        @media screen and (min-width: 768px) {
            max-width: 380px;
            font-size: 10px;
            line-height: 1.76;
        }
        @media screen and (min-width: 1280px) {
            max-width: 500px;
            font-size: 12px;
            line-height: 1.76;
        }
    }