.advantages{
    margin-bottom: 140px;

    .advantages__title{
        display: none;
    }
    .advantages__item{
        display: flex;
        justify-content: center;
         
        & :not(:last-child){
            margin-right: 30px;
        }
    }
    .advantages__list{
        
       
    }
    .advantages__number{
        color: $primary-accent-color;
        width: 98px;
        height: 65px;
        left: 115px;
        top: 2750px;
        font-family: Titan One;
        font-style: normal;
        font-weight: normal;
        font-size: 58px;
        line-height: 66px;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    
    .advantages__description{
        color: --primary-text-color;
         width: 330px;
        height: 52px;
        left: 475px;
        top: 2830px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        
    }
    
}
.breastfeeding ::before{
    content: url(/src/images/advantages/advantages1.png);
    
}

