.contacts {
  display: flex;
}

.visibility-hidden {
  display: none;
}

.contacts__thumb {
  outline: 1px solid teal;
  width: 330px;
  margin-right: 29px;
  padding-top: 51px;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 43px;

  background: $primary-bg-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:last-child {
    margin-right: 0;
  }
}
.contacts__item {
}
.contacts__descr {
  width: 73px;
  text-align: center;

  margin-bottom: 32px;

  display: inline-block;
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;

  color: $menu-text-color;
  border-radius: 6px;
  background-color: #f0d1a5;
}

.contacts__descr--food {
  width: 138px;
  text-align: center;

  background-color: #c2e297;
}

.contacts__name {
  display: inline-block;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.04em;

  color: $primary-text-color;

  margin-bottom: 10px;
}
.contacts__text {
  padding-bottom: 32px;

  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.81;

  letter-spacing: 0.04em;

  color: $secondary-text-color;
}
.contacts__work-time {
  padding-top: 32px;
  padding-bottom: 32px;

  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.contacts__work-time__item {
  &:nth-child(2n + 1) {
    margin-bottom: 15px;
  }
}

.contacts__work-time__day {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.04em;

  color: $primary-text-color;
}

.contacts__work-time__time {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;

  color: $secondary-accent-color;
}

.contacts__link {
  display: block;

  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.81;

  color: $secondary-text-color;
}

.contacts__link--tel {
  margin-top: 32px;
}
.contacts__link--mail {
}

.contacts__btn {
  font-family: $main-font;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;

  border-radius: 22px;
  height: 44px;

  border: none;
}

.contacts__btn--location {
  width: 198px;
  margin-right: 15px;

  color: $menu-text-color;
  background: $primary-accent-color;
}
.contacts__btn--franchise {
  width: 180px;

  color: $primary-accent-color;
  background: $menu-text-color;
}
