.footer__section {
  background-color: $secondary-bg-color;
}

.footer-container {
  padding-top: 113px;
  padding-bottom: 43px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    padding-top: 165px;
    padding-bottom: 91px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 165px;
    padding-bottom: 97px;
  }
}

.footer__thumb {
  display: flex;
  flex-direction: column;

  margin-bottom: 43px;

  @media screen and (min-width: 768px) {
    width: 340px;
  }
}

.footer__text {
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 1.17;

  text-transform: uppercase;
  margin-bottom: 17px;

  color: $secondary-accent-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    margin-bottom: 16px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;

    margin-bottom: 15px;
  }
}

.footer__descr {
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $primary-accent-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
  }
}

.footer-container__social-link {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.footer__social-link {
  display: flex;
  justify-content: right;
  margin-bottom: 46px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}
.social-link__item {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 10px;
  }
}

.social-link__icon {
  fill: #fea5bb;
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $primary-accent-color;
  }
}
.footer__contacts {
  display: block;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  text-align: right;

  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    display: unset;
    text-align: unset;
  }
}
.footer__contacts-link {
  color: $primary-accent-color;
}

.footer__thumbs-copyright {
  border-top: 1px solid #e1e1e1;
}

.footer__copyright-sign {
  display: block;
  padding-top: 22px;
  padding-bottom: 25px;
  width: 150px;

  margin-left: auto;
  margin-right: auto;

  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: $secondary-text-color;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;

    line-height: 1.86;
    width: auto;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
