.header {
  background-color: $hero-header-bg;
  @media screen and (min-width:768px) {
    padding-top: 37px;
  }
}
.container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
 

  @media screen and (min-width: 320px) and (max-width:767px) {
  overflow: hidden;
  padding: 0 20px;
  max-width: 320px;
  }

  @media screen and (min-width: 768px) {
     width: 768px;
     padding: 0 34px;
  }

  @media screen and (min-width: 1200px) {
     width: 1200px;
     padding: 0 115px;
  }
}
.container--header {
  position: relative;
  display: flex;
  align-items: center;
  @media screen and (min-width:768px){
    
    z-index: 2;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px){
    right: 115px;
  }
}
.container-picture {
  min-width: 199px;
  min-height: 50px;
  @media screen and (min-width:320px) and (max-width:768px) {
  margin-right: 61px;
  }
}
.main-nav {
  margin-left: 110px;
  margin-right: 110px;
  @media not screen and (min-width: 1200px) {
    display: none;
  }
}
.main-nav__container{
  @media screen and (min-width:320px) and (max-width:1199px) {
    display: block;

  }
}
.main-nav__list {
  display: flex;
  align-items: center;
}
.main-nav__item {
  margin-right: 35px;
  &:last-child {
    margin-right: 0;
  }
}
.main-nav__link {
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);

  color: $menu-text-color;
  &:hover,
  &:focus {
    color: $primary-accent-color;
  }
}
.header__btn-buy {
  background: $primary-bg-color;
  border-radius: 22px;
  border-color: transparent;
  min-width: 160px;
  height: 44px;
  margin-left: 30px;

  font-family: $main-font;
  color: $primary-accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    min-width: 159px;
  }
}
.modal__button-open {
  background-color: transparent;
  border-color: transparent;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.modal__button-open-icon {
  width: 20px;
  height: 12px;
}
.modal {
  background-color: #e17992;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  @media not screen and (max-width: 1280px) {
    display: none;
  }
}

.modal.is-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__button-close {
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  top: 23px;
  right: 28px;
}
.modal__button-close-icon {
  width: 14px;
  height: 14px;
}
.modal__contaiter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.modal__btn-buy {
  background: $primary-bg-color;
  border-radius: 22px;
  border-color: transparent;
  width: 209px;
  height: 44px;
  margin-left: 21px;
  margin-right: 20px;

  font-family: $main-font;
  color: $primary-accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);
  @media screen and (min-width: 768px) {
    width: 186px;
  }
}
.modal__btn-buy-arrow {
  margin-left: 14px;
  width: 5px;
  height: 8px;
}
.modal__list {
  margin-top: 29px;
}
.modal__item {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
  padding-top: 13px;
  padding-bottom: 11px;
}
.modal__link {
  margin-left: 21px;
  font-family: $main-font;
  color: $menu-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  &:hover,
  &:focus {
    color: $primary-accent-color;
  }
}



  // MOBILE 

  .hero{
    position: relative;
      margin: 0 auto;
    outline: 2px solid blueviolet;
 @media screen and (min-width:320px) {
     width: 320px;
     height: 446px; 
     overflow: hidden;
 }   
 @media screen and (min-width:768px) {
     width: 768px;
     height: 353px;
}  
@media screen and (min-width:1200px) {   
    width: 1280px;
    height: 578px;
}       
  }
 
  .hero__thumb{
    z-index: 3;
    position: absolute;
 @media screen and (min-width:320px) {
    left: 20px;
    top: 137px;      
 }   
 @media screen and (min-width:768px) {
   left: 34px;
   top: 56px;
 }
 @media screen and (min-width:1200px) {
   top: 84px;
   left: 115px;
 }
}
  .hero__title{
  font-family: $secondary-font;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-bg-color;
    &-red{
      color: $primary-accent-color; 
    }
    @media screen and (min-width:320px) {
      width: 218px;
      font-size: 26px;
      line-height: 1.15;
      &-red{
        font-size: 48px ;
        line-height: 0.95;
      }
    }
    @media screen and (min-width:768px) {
      width: 162px;
      font-size: 22px;
      line-height: 1.13;
      &-red{
        font-size: 34px;
        line-height: 0.9;
      }
    
  }
  @media screen and (min-width:1200px) {
    height: 137px;
    width: 277px;
    font-size: 38px;
      line-height: 1.15;
      &-red{
        font-size: 58px;
        line-height: 0.89;
      }
  }
  }
  .hero-list{
    display: flex;
    @media screen and (min-width:320px) {
      margin-top: 19px;
    }
    @media screen and (min-width:768px) {
      margin-top: 20px;
    }
    @media screen and (min-width:1200px) {
      margin-top: 25px;
    }
  }
  .hero-list__item + .hero-list__item{
  margin-left: 8px;
  }
  .hero-list__button-red{
    
    align-items: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    border-radius: 20px;
    border: none;
    color: $primary-bg-color;
    background-color: $primary-accent-color;
    @media screen and (min-width:320px) and (max-width:1280px){
      width: 62.4px;
      height: 24px;
      font-size: 8px;
      line-height: 1.25;
    }
  @media screen and (min-width:1200px) {
      width: 102px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
  
    
  }
  }
  .hero-list__button-white{
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    border-radius: 20px;
    border:none;
    color: $primary-accent-color;
    background-color: $primary-bg-color;
  @media screen and (min-width:320px) and (max-width:1280px){
    width: 82.8px;
    height: 24px;
    font-size: 8px;
    line-height: 1.25;
  }
  @media screen and (min-width:1200px) {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 1.28;
  }
  }
  .hero__container-img{
      position: absolute;
      z-index: 2;
    @media screen and (min-width:320px) {
        top: 36px;
        left: 117px;    
      max-width: 171px;
      height: 410px;
    }
   @media screen and (min-width:768px) {
       top: 17px;
       left: 378px;
       width: 143px;
       height: 336px;
   }  
   @media screen and (min-width:1200px) {
      left: 594px;
      top: 21px;
      width: 236px;
      height: 557px; 
   }
  }
  .elipse{
      z-index: 1 ;
      position: absolute;
      border-radius: 50%;
      background-color: $secondary-accent-color;
    @media screen and (min-width:320px) {
        left: 36px;
        bottom: 75px;
        width: 346px;
        height: 344px;

    }
    @media screen and (min-width:768px) {
        bottom: 46px;
        left: 307px;
        width: 324px;
        height: 322px;
        
    }  
    @media screen and (min-width:1200px) {
     left: 475px;
     bottom: 75px;
     width: 538px;
     height: 548px; 
    }    
  }
  // TABLET
  
 .hero-card__title{
  z-index: 1;
  position: absolute;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-accent-color;
  
  @media screen and (min-width:320px) and (max-width: 767px) {
    display: none;
  }
@media screen and (min-width:768px) {
  left: 691px;
  top: 50px;
  font-size: 28px;
  line-height: 1.14;
}
@media screen and (min-width:1200px) {
  top: 73px;
  left: 1111px;
  font-size: 46px;
  line-height: 1.15;
}
 }
.hero-card__text{
  position: absolute;
  font-family: $main-font;
  font-style: normal; 
  font-weight: 400;
  color: $primary-bg-color;
  @media screen and (min-width:320px) and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width:768px) {
    left: 704px;
    top: 82px;
    font-size: 8px;
    line-height: 1.25;
  @media screen and (min-width:1200px) {
    left: 1130px;
    top: 128px;
    font-size: 14px;
  line-height: 1.28;
  }  

    }
} 
.hero-card__elipse{
  border-radius: 50%;
  background-color: $primary-bg-color;
  @media screen and (min-width:320px) and (max-width: 767px) {
    display: none;
  }
@media screen and (min-width:768px) {
  position: absolute;
  top: 48px;
  left: 718px;
  width: 16px;
  height: 16px;
}
@media screen and (min-width:1200px) {
  left: 1153px;
  top: 69px;
  height: 30px;
  width: 30px;
}
}

.hero-card-second__title{
position: absolute;
z-index: 1;
font-family: $secondary-font;
font-style: normal;
font-weight: 400;
letter-spacing: 0.04em;
text-transform: uppercase;
color: $primary-accent-color;

@media screen and (min-width:320px) and (max-width: 767px) {
  display: none;
}
@media screen and (min-width:768px) {
left: 690px;
top: 106px;
font-size: 28px;
line-height: 1.14;
}
@media screen and (min-width:1200px) {
  top: 164px;
  left: 1106px; 
  font-size: 46px;
  line-height: 1.15;
}
}

.hero-card-second__text{
position: absolute;
font-family: $main-font;
font-style: normal; 
font-weight: 400;
color: $primary-bg-color;
@media screen and (min-width:320px) and (max-width: 767px) {
  display: none;
}
@media screen and (min-width:768px) {
  top: 138px;
  left: 683px;
  position: absolute;
  font-size: 8px;
  line-height: 1.25;
  }
@media screen and (min-width:1200px) {
  left: 1091px;
  top: 219px;
  font-size: 14px;
  line-height: 1.28;
  
}
} 
.hero-card-second__elipse{

border-radius: 50%;
background-color: $primary-bg-color;
@media screen and (min-width:320px) and (max-width: 767px) {
  display: none;
}
@media screen and (min-width:768px) {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 105px;
  left: 718px;
}
@media screen and (min-width:1200px) {
  top: 161px;
  left: 1153px;
  height: 30px;
  width: 30px;
}
}

.hero__description{
font-family: $main-font;
font-style: normal;
font-weight: 400;
color: $primary-bg-color;
position: absolute;
@media screen and (min-width:320px) and (max-width:767px){
 display: none;
}
@media screen and (min-width:768px) {
  left: 154px;
  bottom: 59px;
  width: 114px;
  height: 48px;
  font-size: 8px;
  line-height: 1.5;
 
}
@media screen and (min-width:1200px) {
  left: 295px;
  bottom: 102px;
  width: 200px;
  height: 78px;
  font-size: 14px;
  line-height: 1.14;
   
}
}